-- Create database if it doesn't already exist
CREATE DATABASE IF NOT EXISTS `__DATABASE_NAME__` CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- Create user if it doesn't already exist
CREATE USER IF NOT EXISTS '__DATABASE_USER__'@'%' IDENTIFIED BY '__DATABASE_PASSWORD__';

-- Grant all privileges on the new database to the created user
GRANT ALL PRIVILEGES ON `__DATABASE_NAME__`.* TO '__DATABASE_USER__'@'%';

-- Apply the privilege changes
FLUSH PRIVILEGES;
